@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(images/profile.png);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;

}

a:hover{
    color: aquamarine;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar-container{
    width: 100%;
    height: 120px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container .logo h1{
    font-size: 36px;
    font-weight: 525;
    color: #fff;
}

.navbar-container .links{
    display: flex;
    gap: 5rem;
}

.navbar-container .toggle-button{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.contact-button{
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: scale 0.2 ease;
}

.contact-button:hover{
    scale: 1.05;
    color: #333;
}

.contact-button:active{
    scale: 0.95;
}

.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 120px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 180px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .contact-button{
    width: 90%;
    display: flex;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar-container .links,
    .navbar-container .contact-button{
        display: none;
    }

    .navbar-container .toggle-button{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .about-text p{
        font-size: 1.5vw;
    }

    .about-container img{
        width: 75%;
    }
}

@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }

    .about-text p{
        font-size: 2vw;
    }

    .about-container img{
        width: 80%;
    }
}

main{
    height: calc(100vh - 120px);
    position: relative;
}

.about-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.avatar{
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.about-text{
    font-size: 1vw;
    font-weight: 550;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    backdrop-filter: blur(10px) saturate(50%);
    border-radius: 20px;
    padding: 20px;
}